<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SDK2222.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>05D405BFDF651C8AE68AA50FB7D3BA071B71FF26</string>
				<key>dateExpires</key>
				<string>2018/12/9</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>Z8SE9YCY23.com.viazijing.meeting</string>
				<key>com.apple.developer.team-identifier</key>
				<string>Z8SE9YCY23</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>Z8SE9YCY23.com.viazijing.meeting</string>
				</array>
			</dict>
			<key>name</key>
			<string>SDK2222.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>5ed50d64-9d5f-44d4-a5ba-26eb3ab0a009</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.viazijing.meeting</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>Z8SE9YCY23</string>
				<key>name</key>
				<string>Beijing Viazijing Technology Co., Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
