<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/SDK2222.app</string>
		<key>CFBundleIdentifier</key>
		<string>com.viazijing.meeting</string>
		<key>CFBundleShortVersionString</key>
		<string>1.0.0</string>
		<key>CFBundleVersion</key>
		<string>1.0.0</string>
		<key>SigningIdentity</key>
		<string>iPhone Developer: xu luorong (9LN54Q3KCQ)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2018-04-26T02:10:46Z</date>
	<key>Name</key>
	<string>SDK2222</string>
	<key>SchemeName</key>
	<string>SDK2222</string>
</dict>
</plist>
